<!-- Start Footer Area -->
<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <div class="logo">
                        <a href="{{ path('homepage') }}"><img src="{{ global.logo }}" alt="{{ config.get('general/sitename') }}"></a>
                        <p>{{ global.about }}</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Customer Services</h3>

                    {{ menu('footer1', 'helpers/_footer1.twig') }}
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Useful Links</h3>

                    {{ menu('footer2', 'helpers/_footer2.twig') }}
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Contacts</h3>
                    {% if global is not empty %}
                        {% if global.contact is not empty %}
                            {% set email = global.contact|filter(f => f.name == 'email')|first %}
                            {% set phone = global.contact|filter(f => f.name == 'phone')|first %}
                            {% set lieu = global.contact|filter(f => f.name == 'lieu')|first %}
                                <div class="widget-contact-info">
                                    <p>
                                        <a href="tel:{{ phone }}">{{ phone }}</a>
                                        <span>(Service client et support)</span>
                                        <a href="mailto:{{ email }}">{{ email }}</a>
                                        <span>(Email)</span>
                                        {{ lieu }}
                                    </p>
                                </div>
                            {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="copyright-area">
        <div class="container">
            <p><i class="far fa-copyright"></i> Copyright {{ config.get('general/sitename') }} {{ 'now'|date('Y') }} All Rights Reserved</p>
        </div>
    </div>
</footer>
<!-- End Footer Area -->

<div class="go-top"><i class="fas fa-arrow-up"></i></div>
