<!-- Start About Area -->
<section class="about-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <span class="sub-title"><i class="flaticon-care-about-environment"></i> {{ homepage.apropos_tagline }}</span>
                    <h2>{{ homepage.apopos }}</h2>
                    <p>{{ homepage.apropos_description }}</p>

                    <a href="{{ homepage.button_url }}" class="btn btn-primary">{{ homepage.button_text }}</a>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="about-image">
                    <img src="{{ homepage.apropos_image|thumbnail(570,415) }}" alt="{{ config.get('general/sitename') }}">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Area -->
