{% setcontent blog = 'blog' limit 3 %}
<!-- Start Blog Area -->
{% if blog is not empty %}
<section class="blog-area ptb-100">
    <div class="container">
        <div class="section-title">
                    <span>
                        <span class="icon">
                            <i class="flaticon-wifi-1"></i>
                        </span>

                        <span>{{ homepage.blog_sub_title }}</span>
                    </span>
            <h2>{{ homepage.blog_title }}</h2>
        </div>

        <div class="row">
            {% for article in blog %}
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <a href="{{ article|link }}" class="post-image"><img src="{{ article.image }}" alt="blog-image"></a>

                    <div class="blog-post-content">
                        <ul>
                            <li><i class="fas fa-user-tie"></i> <a href="#">{{ article.author }}</a></li>
                            <li><i class="far fa-clock"></i> {{ article.createdAt|localdate(format='j F, Y', locale='fr') }}</li>
                        </ul>
                        <h3><a href="#">{{ article.title }}</a></h3>
                        <p>{{ article.content|excerpt(50) }}</p>

                        <a href="{{ article|link }}" class="read-more-btn">Lire... <i class="fas fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
{% else %}
    <h2>Le blog est actuellement vide</h2>
{% endif %}
<!-- End Blog Area -->
