{% extends 'partials/_master.twig' %}

{% block content %}
    <!-- Start Page Title Area -->
    <div class="page-title-area">
        <div class="container">
            <div class="page-title-content">
                <h2>{{ blog.title }}</h2>
                <ul>
                    <li><a href="{{ path('homepage') }}">Acceuil</a></li>
                    <li>Blog Details</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Page Title Area -->

    <!-- Start Blog Details Area -->
    <section class="blog-details-area ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div class="blog-details">
                        <div class="article-image">
                            <img src="{{ blog.image }}" alt="image">
                        </div>

                        <div class="article-content">
                            <div class="entry-meta">
                                <ul>
                                    <li>
                                        <i class="far fa-user-circle"></i>
                                        Par: <a href="#">{{ blog.author }}</a>
                                    </li>

                                    <li>{{ blog.createdAt|localdate(format='j F, Y', locale='fr') }}</li>

                                    {#
                                    <li><a href="#">Tech</a></li>

                                    <li>2 Mins Read</li>

                                    <li>521 Views</li>

                                    <li><a href="#">3 Comments</a></li>
                                    #}
                                </ul>
                            </div>

                            <p>{{ blog.content|raw }}.</p>

                        </div>

                    </div>
                </div>

                <div class="col-lg-4 col-md-12">
                    <aside class="widget-area" id="secondary">
                        <section class="widget widget_search">
                            <form class="search-form">
                                <label>
                                    <span class="screen-reader-text">Search for:</span>
                                    <input type="search" class="search-field" placeholder="Search...">
                                </label>
                                <button type="submit"><i class="fas fa-search"></i></button>
                            </form>
                        </section>

                        <section class="widget widget_bahama_posts_thumb">
                            <h3 class="widget-title">Articles Récents</h3>

                            <article class="item">
                                <a href="#" class="thumb">
                                    <span class="fullimage cover bg1" role="img"></span>
                                </a>
                                <div class="info">
                                    <time datetime="2021-06-30">September 30, 2021</time>
                                    <h4 class="title usmall"><a href="#">How to change yourself for the better</a></h4>
                                </div>

                                <div class="clear"></div>
                            </article>

                            <article class="item">
                                <a href="#" class="thumb">
                                    <span class="fullimage cover bg2" role="img"></span>
                                </a>
                                <div class="info">
                                    <time datetime="2021-06-30">September 14, 2021</time>
                                    <h4 class="title usmall"><a href="#">10 Tactics for marketing your company</a></h4>
                                </div>

                                <div class="clear"></div>
                            </article>

                            <article class="item">
                                <a href="#" class="thumb">
                                    <span class="fullimage cover bg3" role="img"></span>
                                </a>
                                <div class="info">
                                    <time datetime="2021-06-30">September 13, 2021</time>
                                    <h4 class="title usmall"><a href="#">Google web ranking changing much</a></h4>
                                </div>

                                <div class="clear"></div>
                            </article>
                        </section>


                    </aside>
                </div>
            </div>
        </div>
    </section>
    <!-- End Blog Details Area -->
{% endblock %}
